# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea

/nikolai
__pycache__/
/ZStruct
/xtb
/scratch
/blackbox/scratch
/blackbox/ssm/scratch
/blackbox/zstruct/scratch
/blackbox/nikolai
